<div class="format-actions">
  <button class="format-action" type="button" (click)="boldClick()"><b>B</b></button>
  <button class="format-action" type="button" (click)="italicClick()"><i>I</i></button>
  <button class="format-action" type="button" (click)="underlineClick()"><u>U</u></button>
</div>
