html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.text {
  &--bold {
    font-weight: bold;
  }
  &--underline {
    text-decoration: underline;
  }
  &--italic {
    font-style: italic;
  }
}